@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

$toggleHeight: 50px;

.sticky-slider {
    position: fixed;
    transition: all 0.36s linear 0s;
    bottom: 0;
    width: 100%;

    @include desktopMedia {
        position: -webkit-sticky;
        position: sticky;
        top: 5px;
    }

    &.closed {
        transform: translateY(calc(100% - #{$toggleHeight}));

        @include desktopMedia {
            transform: translateY(0);
        }
    }

    .sticky-slider__toggle {
        height: $toggleHeight;
        text-align: center;
        background-color: $primary;
        border-top: 1px solid #0003;
        color: #fff;

        @include mediaDisplayNone(801px);

        span {
            padding-top: 10px;
            font-size: 2rem;
        }
    }
}