.sticky-slider {
    position: fixed;
    transition: all 0.36s linear 0s;
    bottom: 0;
    width: 100%;

    @media only screen and (min-width : 801px) {
        position: -webkit-sticky;
        position: sticky;
        top: 5px;
    }

    &.closed {
        transform: translateY(calc(100% - 50px));

        @media only screen and (min-width : 801px) {
            transform: translateY(0);
        }
    }

    .sticky-slider__toggle {
        height: 50px;
        text-align: center;
        background-color: #4aa57f;
        border-top: 1px solid #0003;
        color: #fff;

        @media only screen and (min-width : 801px) {
            display: none;
        }

        span {
            padding-top: 10px;
            font-size: 2rem;
        }
    }
}