@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.add-content {
    @include displayFlex();

    h3 {
        text-align: center;
    }

    input, select {
        margin-bottom: 1rem;
        padding: 5px;
        height: 30px;
        border: 1px solid rgba(0,0,0,0.1);
    }

    label {
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    button {
        margin-top: 10px;
        height: 40px;
        background-color: $btn-primary;
        border: none;
        color: #ffffff;
        cursor: pointer;

        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}