@import '../../scss/mixins.scss';

main {
    @include displayFlex();
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;

    @include desktopMedia {
        flex-direction: row;
        padding: 3rem 0;
    }

    > section {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 50px;

        @include desktopMedia {
            flex: 1;
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    > aside {
        flex: 1;

        @include desktopMedia {
            flex: 0 300px;
        }
    }
}