@import '../../scss/mixins.scss';

.list-content {
    height: 100%;

    .list-content__items-total {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .list-content__no-items {
        @include displayFlex();
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        @include desktopMedia {
            margin-top: 0;
        }

        p {
            font-size: 1rem;
            margin: 0;

            @include desktopMedia {
                font-size: 1.5rem;
            }
        }
    }

}